{% extends "base.html" %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'todolist/homepage.css' %}">
{% endblock %}

{% block title %}Homepage{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">
        <p>WELCOME - It's TO DO APP =)<p>
        {% if not user.is_authenticated  %}
            <p>Please log in to start using all features</p>
        {% endif %}
        <p>Enjoy and good luck :)</p>
    </div>
{% endblock %}