@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Pixelify+Sans&family=Roboto+Condensed:wght@300&family=Young+Serif&display=swap');

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 70%;
    background-color: azure;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 20px 10px 20px;
    text-align: center;
    display: block;
    justify-content: center;
}

p {
    text-align: left;
}

h2, h4 {
    background-color: #90b6ff;
}

.actions-mn {
    width: 100%;
    display: flex;
}

.actions-mn button {
    padding: 10px;
    background-color: burlywood;
    border-radius: 10px;
    cursor: pointer;
}

.actions-mn button:hover {
    background-color: darkcyan;
}

button {
    font-family: 'Dela Gothic One', cursive;
}