@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}
nav {
    background: darkolivegreen;
    height: 80px;
    width: 100%;
    border-radius: 15px;
    overflow-x: auto;
}

nav div {
    display: inline-block;
}

a {
    font-family:'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navigation-items {
    float: right;
}

#logo {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Pixelify Sans', cursive;
    line-height: 80px;
    padding: 10px;
    margin: 5px;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 20px;
    font-size: 1.5rem;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
    padding: 0 20px 0;
}

nav ul li:hover {
    background-color: darkcyan;
    border-radius: 15px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    background-color: darkgrey;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 20px 10px 20px;
}
