@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


html {
    font-family:'Roboto Condensed', sans-serif;
}

body {
    background-color: bisque;
    margin: 0;
}

nav {
    background-color: darkolivegreen;
    width: 100%;
    border-radius: 10px;
    font-weight: 1000;
}

a {
    text-decoration: none;
    border-radius: 12px;
    padding: 0 5%;
    color: black;
}

#app-sign:active,
#app-sign:hover {
    background-color: darkcyan;
}

#homepage-sign {
    font-size: 3rem;
    padding: 0 1%;
}

#app-sign {
    font-size: 1.5rem;
    margin: 5px;
}

#log {
    float: right;
    padding: 10px;
    border-radius: 12px;
    font-size: large;
    margin: 15px;
}

#log:active,
#log:hover {
    background-color: darkcyan;
}