{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<nav>
    <span id="buttons">
        <a id="homepage-sign" href="{% url 'homepage' %}">HOMEPAGE</a>
        <a id="app-sign" href="{% url 'task-list' %}">To Do APP</a>
    </span>
    <span id="log">
        <a href="{% url 'homepage' %}">Login</a>
    </span>
</nav>
<body>
{% block content %}{% endblock %}
</body>
</html>